@import '..\..\less\valenceui.less';

.d2l-accordion {
	.border-radius( 3px );
	border: 1px solid #dddddd;
}

.d2l-accordion-header {
	.gradient-vertical( #fafafa, #ededed );
	border-top: 1px solid #dddddd;
	padding: 10px;
	cursor: pointer;
}

.d2l-accordion-header:hover,
.d2l-accordion-header-active {
	.gradient-vertical( #fafafa, #fdfdfd );
}

.d2l-accordion-content {
	.box-shadow-custom( ~'0 3px 3px -3px rgba(0,0,0,0.5) inset, 0 -3px 3px -3px rgba(0,0,0,0.5) inset' );
	overflow: auto;
	border-top: 1px solid #dddddd;
	background-color: #fcfcfc;
	padding: 10px;
	display: none;
}

.d2l-accordion-header:first-child {
	border-top-width: 0;
}

.d2l-accordion-panel-expanded {
	.gradient-vertical( #ebf1f4, #d7e3e9 );
}

.d2l-accordion-header-active,
.d2l-accordion-panel-expanded:hover {
	.gradient-vertical( #f2f7fa, #e6eff4 );
}

.d2l-accordion-header-disabled,
.d2l-accordion-header-disabled:hover {
	background: #f6f6f6;
	.opacity( 0.6 );
	cursor: default;
}
